doctype html
html(lang=en)
  include basic/head.pug
body
  include basic/header.pug
  main
    .home
      .home__container.container
        .home__content
          .home__body
            h1.home__title Разработка освещения интерьеров
            p.home__text.text.
              Студия светодизайна Indecor создаст комфортное и&nbsp;функциональное освещение, отвечающее всем требованиям. 
              Опираясь на&nbsp;наши знания, опыт и&nbsp;комплексный подход,&nbsp;мы преобразим ваше пространство, 
              используя лишь один инструмент&nbsp;&mdash; свет!
            .home__link
              button.home__btn-order.btn-order Заказать подбор освещения
              a(href='#test').home__anchor-link.anchor-link Смотреть портфолио
          .home__img_shadow
            .home__img
          .home__footer
            .home__item
              h2.home__subtitle 386
              p.home__subtext.text Выполненных проектов
            .home__item
              h2.home__subtitle 7 лет
              p.home__subtext.text Опыта в&nbsp;разработке овещения
            .home__item
              h2.home__subtitle 200+
              p.home__subtext.text Сотрудничаем более чем с&nbsp;двухста фабриками и&nbsp;производителями
    .intermediate
      .intermediate__mini-container.mini-container
        h3.intermediate__title.title Закажите консультацию
        form.intermediate__form
          input.intermediate__item.mobile(placeholder='Ваш номер телефона')
          input.intermediate__item.name(placeholder='ФИО')
          button.intermediate__btn-order.btn-order Заказать консультацию
            span.intermediate__price
              p 2000&nbsp;р.
  include basic/footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="./assets/js/src/script.js")
