/* Media */
@media screen and (max-width: 1600px) {
  .container {
    max-width: 1640px;
  }

  .footer__phone {
    font-size: 20px;
    line-height: 29px;
  }

  .footer__address {
    font-size: 20px;
    line-height: 29px;
  }

  .about-us__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-us__shadow {
    background: none;
  }

  .about-us__img {
    margin-bottom: 29px;
    left: 0;
    top: 0;
  }
}
@media screen and (max-width: 1500px) {
  .home__link {
    flex-direction: column;
  }

  .home__anchor-link {
    margin-top: 20px;
  }

  .home__img_shadow {
    margin-top: 100px;
  }

  .home__footer {
    top: 0;
  }

  .services__container {
    justify-content: center;
  }
}
@media screen and (max-width: 1224px) {
  .intermediate__btn-order {
    left: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .mobile_hide {
    display: none;
  }

  .burger {
    display: inline-block;
    width: 10px;
    height: auto;
    order: 1;
  }

  .facebook {
    order: 100000;
  }

  .instagram {
    order: 100000;
  }

  .nav-panel__container {
    display: -ms-flex;
    display: flex;
  }

  .nav-panel__body {
    padding-top: 15px;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .nav-panel__content {
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 100000;
  }

  .nav-panel__link-anchor {
    font-family: "Montserrat Medium";
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
  }

  .nav-panel__social {
    order: 1;
  }

  .nav-panel__svg {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 30px;
    height: 31px;
  }

  .home__content {
    justify-content: center;
    text-align: center;
  }

  .intermediate__mini-container {
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intermediate__btn-order {
    left: 0;
  }

  .director__mini-container {
    text-align: center;
  }

  .director__body {
    flex-direction: column;
    align-items: center;
  }

  .director__content {
    order: 10000000000000;
  }

  .director__img {
    margin-bottom: 40px;
    order: 1;
  }

  .information__container,
.cooperation__container {
    justify-content: center;
    text-align: center;
  }

  .information__content,
.cooperation__content {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 768px) {
  .about-us__shadow {
    display: none;
  }

  .portfolio__body {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .portfolio__img {
    width: 300px;
  }

  .services__img {
    display: none;
  }

  .partners__item:nth-child(3n) {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .home__btn-order {
    padding: 19px 45px;
    font-size: 15px;
  }

  .home__img_shadow {
    display: none;
  }

  .home__footer {
    flex-direction: column;
  }

  .intermediate__price {
    display: none;
  }

  .intermediate__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .partners {
    display: block;
  }

  .partners__title {
    display: block;
  }

  .partners__body {
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .partners__arrow {
    display: inline-block;
    width: 32px;
    height: 64px;
  }

  .partners__arrow_left {
    display: inline-block;
    transform: rotate(45deg);
  }

  .partners__arrow-right {
    display: inline-block;
    transform: rotate(-135deg);
  }

  .partners__list {
    justify-content: center;
  }

  .information__subtitle {
    padding-top: 15px;
  }

  .information__list:after {
    bottom: -13px;
  }

  .noactive:after {
    left: 50%;
  }

  .active:after {
    left: 45%;
  }
}
@media screen and (max-width: 375px) {
  .nav-panel__container {
    flex-direction: column;
  }

  .nav-panel__item:nth-child(2) {
    order: 100000;
  }

  .home__title {
    font-size: 35px;
    line-height: 43px;
  }

  .subtitle {
    font-size: 21px;
    text-align: center;
  }

  .portfolio__btn-order {
    padding: 19px 38px;
  }

  .partners {
    margin-bottom: 0;
  }

  .director__img {
    display: none;
  }
}