/* SASS */
/* SASS */
/* Import style */
/* Import font font-family: "Helvetica", "Arial", sans-serif */
/* Color */
/* Basic style */
* {
  box-sizing: border-box;
  color: #252525;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
}

main {
  padding-top: 100px;
}

button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

main {
  padding-top: 150px;
}

input,
button {
  max-width: 400px;
  min-height: 80px;
  border: none;
}

.hide {
  display: none;
}

._opacity {
  opacity: 0.1;
}

.mini-container {
  max-width: 1371px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font: 36px/44px "Montserrat Bold";
  letter-spacing: 0.04em;
}

.text {
  font: 18px/22px "Montserrat Medium";
}

.btn-order {
  font: 18px/22px "Montserrat Semibold";
  background: #000;
  letter-spacing: 0.155em;
  color: #FFFFFF;
}

.anchor-link {
  font: 18px/22px "Montserrat Semibold";
  letter-spacing: 0.155em;
}

.mobile {
  font: 18px/110% "Montserrat Medium";
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff2"), url("../fonts/Montserrat-Regular.eot?") format("embedded-opentype");
  font-weight: 400;
  font-size: 25px;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff2"), url("../fonts/Montserrat-Medium.eot?") format("embedded-opentype");
  font-weight: 500;
  font-size: 25px;
}
@font-face {
  font-family: "Montserrat Semibold";
  src: url("../fonts/Montserrat-Semibold.woff2") format("woff2"), url("../fonts/Montserrat-Semibold.woff") format("woff2"), url("../fonts/Montserrat-Semibold.eot?") format("embedded-opentype");
  font-weight: 600;
  font-size: 25px;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff2"), url("../fonts/Montserrat-ExtraBold.eot?") format("embedded-opentype");
  font-weight: 700;
  font-size: 25px;
}
/* Media */
/* Another style */
.container {
  max-width: 1719px;
  margin: 0 auto;
  padding: 0 15px;
}

.burger {
  display: none;
}

.logo {
  background: url("../img/sprite.webp") no-repeat 0 0;
  width: 297px;
  height: 75px;
}

.nav-panel {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.nav-panel__container {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-panel__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.nav-panel__link-anchor {
  font: 18px/22px "Montserrat Medium";
  text-decoration: none;
}

.nav-panel__item:last-child {
  max-width: 108px;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-panel__social {
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.nav-panel__svg {
  display: inline-block;
  width: 30px;
  height: 31px;
}

.home {
  margin-bottom: 105px;
}

.home__content {
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home__title {
  font: 48px/59px "Montserrat Bold";
  max-width: 894px;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}

.home__text {
  margin-bottom: 100px;
  max-width: 894px;
}

.home__link {
  margin-right: 30px;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__btn-order {
  padding: 19px 62px;
}

.home__anchor-link {
  border-bottom: 1px solid #252525;
}

.home__img_shadow {
  background: #DFDDDD;
  position: relative;
  width: 509px;
  height: 685px;
}

.home__img {
  background: url("../img/sprite.webp") no-repeat -1300px -1100px;
  position: relative;
  right: 30px;
  bottom: 30px;
  width: 509px;
  height: 685px;
}

.home__footer {
  position: relative;
  top: -109px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.home__item {
  max-width: 230px;
}

.home__subtitle {
  font: 48px/59px "Montserrat Bold";
  letter-spacing: 0.04em;
}

.intermediate {
  background: #DFDDDD;
  padding-top: 18px;
  padding-bottom: 71px;
}

.intermediate__mini-container {
  text-align: center;
}

.intermediate__title {
  margin-bottom: 43px;
}

.intermediate__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.intermediate__item {
  font: 18px/22px "Montserrat Medium";
  padding-left: 19px;
}

.intermediate__btn-order {
  position: relative;
}

.intermediate__price {
  font: 18px/22px "Montserrat Semibold";
  background: #fff;
  position: absolute;
  right: -61px;
  bottom: -50%;
  margin: 0;
  padding: 0;
  padding: 17px 40px;
  letter-spacing: 0.155em;
}

.footer__container {
  font: 24px/29px "Montserrat Bold";
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1640px;
  }

  .nav-panel__svg {
    width: 30px;
    height: 31px;
  }

  .footer__phone {
    font-size: 20px;
    line-height: 29px;
  }

  .footer__address {
    font-size: 20px;
    line-height: 29px;
  }
}
@media screen and (max-width: 1500px) {
  .home__link {
    flex-direction: column;
  }

  .home__anchor-link {
    margin-top: 20px;
  }

  .home__img_shadow {
    margin-top: 100px;
  }

  .home__footer {
    top: 0;
  }
}
@media screen and (max-width: 1224px) {
  .intermediate__btn-order {
    left: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .mobile_hide {
    display: none;
  }

  .burger {
    display: inline-block;
    width: 10px;
    height: auto;
    order: 1;
  }

  .facebook {
    order: 100000;
  }

  .instagram {
    order: 100000;
  }

  .nav-panel__container {
    display: -ms-flex;
    display: flex;
  }

  .nav-panel__body {
    padding-top: 15px;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .nav-panel__content {
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 100000;
  }

  .nav-panel__link-anchor {
    font-family: "Montserrat Medium";
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
  }

  .nav-panel__social {
    order: 1;
  }

  .nav-panel__svg {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 30px;
    height: 31px;
  }

  .home__content {
    justify-content: center;
    text-align: center;
  }

  .intermediate__mini-container {
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intermediate__btn-order {
    left: 0;
  }
}
@media screen and (max-width: 576px) {
  .home__btn-order {
    padding: 19px 45px;
    font-size: 15px;
  }

  .home__img_shadow {
    display: none;
  }

  .home__footer {
    flex-direction: column;
  }

  .intermediate__price {
    display: none;
  }

  .intermediate__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 375px) {
  .nav-panel__container {
    flex-direction: column;
  }

  .nav-panel__item:nth-child(2) {
    order: 100000;
  }

  .home__title {
    font-size: 35px;
    line-height: 43px;
  }
}