nav.nav-panel
  .container
    .nav-panel__body
      .nav-panel__logo.logo
      ul.nav-panel__content
        li.nav-panel__item
            a.nav-panel__link-anchor О нас
        li.nav-panel__item
          a.nav-panel__link-anchor Услуги
        li.nav-panel__item
          a.nav-panel__link-anchor Портфолио
        li.nav-panel__item
          a.nav-panel__link-anchor Сотрудничество
      .nav-panel__social
        svg
          use(xlink:href='assets/img/sprite.svg#facebook' class='facebook')
        svg
          use(xlink:href='assets/img/sprite.svg#instagram' class='instagram') 
      .burger
        svg
          use(xlink:href='assets/img/sprite.svg#burger' class='burger')
